.header-wrapper{
	background-color: rgba(255,255,0,.8);
	color: #04a;
	padding: 5px 10px;
	display: flex;
	.logo{
		display: inline-flex;
		align-items: center;
		padding: 0 5px;
	}
	.nav{
		flex: 1;
		align-items: center;
		a{
			text-transform: capitalize;
		}
		.nav-link{
			color: #04a;
			font-weight: 600;
			font-family: Google;
		}
	}
}