@media screen and (max-width:450px){
	.page-header{
		.header{
			font-size: 30px;
		}
	 .subheader{
	 	font-size: 16px;
	 }
	}
}

@media screen and (min-width:451px) and (max-width:767px){
	.page-header{
		.header{
			font-size: 40px;
		}
	 .subheader{
	 	font-size: 17px;
	 }
	}
}

@media screen and (min-width:768px) and (max-width:991px){
	.page-header{
		.header{
			font-size: 50px;
		}
	 .subheader{
	 	font-size: 19px;
	 }
	}
}

@media screen and (min-width:992px) and (max-width:1200px){
	.page-header{
		.header{
			font-size: 60px;
		}
	 .subheader{
	 	font-size: 19px;
	 }
	}
}

@media screen and (min-width:1201px){
	.page-header{
		.header{
			font-size: 60px;
		}
	 .subheader{
	 	font-size: 19px;
	 }
	}
}

.page-header{
	padding: 85px 0;
	background-position-y: center;
 background-position-x: center;
 background-size: cover;
 min-height: 600px;
 color: #424;
 align-items: center;
 justify-content: center;
 display: flex;
 flex-direction: column;
	-webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - 6vw));
	clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - 6vw));
	z-index: -1;
 position: relative;
	&.overlap{
		margin-bottom: -200px;
	}
}