@media screen and (max-width:450px){
	.ct-line{
		padding: 15px 10px;
	}
}

@media screen and (min-width:451px) and (max-width:767px){
	.ct-line{
		padding: 20px 10px;
	}
}

@media screen and (min-width:768px) and (max-width:991px){
	.ct-line{
		padding: 25px 10px;
	}
}

@media screen and (min-width:992px) and (max-width:1200px){
	.ct-line{
		padding: 30px 10px;
	}
}

@media screen and (min-width:1201px){
	.ct-line{
		padding: 40px 10px;
	}
}


.ct-line{
	width: 100%;
}